.tabs{
  background : #ddd
}
.tabs button{
  background : inherit;
  cursor: pointer;
  float: left;
  border: none;
  outline: none;
}

.tabs button:hover {
    background-color: #ccc;
}
.tabPaneContent {
  background : #f0f0f0;
  padding : 2% 0;
}
