.tabs{
  background : #ddd
}
.tabs button{
  background : inherit;
  cursor: pointer;
}

.tabs button:hover {
    background-color: #ccc;
}
.tabPaneContent {
  background : #f0f0f0;
  height: 90%;
  padding : 2% 0;
  margin : 5%
}
