.tabPane{
  background : #666
    width : 100%
}
.tabPane button{
  background : inherit;
  cursor: pointer;
  float: left;
  border: none;
  outline: none;
  padding : 10px 10px;
}

.tabPane button:hover {
    background-color: #ccc;
}
.tabPaneContent {
  background : #f0f0f0;
  padding : 2% 0;
}
